<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <h1>Welcome to Muddraw, <%= @user.name %>!</h1>
  <body>
    <p> Your current password is: <strong><%=@secret_token%></strong> </p>
    <p> Please follow <%= @url %> to login and change your password. </p>
    <p> Thanks for joining!</p>
    <p> -- Vijay </p>
  </body>
</html>