<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to muddraw.herokuapp.com, <%= @user.name %>!</h1>
    <p>
      We sincerely hope you have a smooth and enjoyable experience through room draw 2013.<br/>
    </p>
    <p> Your current password is: <%=@secret_token%> </p>
    <p> Please follow <%= @url %> to change your password and login into the mudd draw system </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>